//output: index.html

head
	link(href='home-main.css', rel='stylesheet')
.category-wrap
	.warning
		| Not an Native English speaker, but will do my best. <br> CSS only, meaning coordinate variables are hard coded. <br> But it is probably possible.
	.head
		.title Perspective Pop-out
		.sub Background lifts to an XY position where the coordinates is based as to where it is positioned on the container.
	.category-section
		.cat-card
			.cat-icon
			.cat-title Everything
		.cat-card
			.cat-icon
			.cat-title Campus News
		.cat-card
			.cat-icon
			.cat-title Community News
		.cat-card
			.cat-icon
			.cat-title Comics
		.cat-card
			.cat-icon
			.cat-title Photo Essay
		.cat-card
			.cat-icon
			.cat-title Videos
		.cat-card
			.cat-icon
			.cat-title Current Staff
		.cat-card
			.cat-icon
			.cat-title History
	.desc
		| Items on the most far side are elevated with either positive or negative X position depends which side it is. <br> Same principle those located on the middle, items are adjust by Y axis and a constant zero X axis.
	.head.secondary
		.title Static Pop-out
		.sub Background lifts to an XY position where the coordinates is based as to where it is positioned on the container.
	.category-section
		.cat-card-static
			.cat-icon
			.cat-title Everything
		.cat-card-static
			.cat-icon
			.cat-title Campus News
		.cat-card-static
			.cat-icon
			.cat-title Community News
		.cat-card-static
			.cat-icon
			.cat-title Comics
		.cat-card-static
			.cat-icon
			.cat-title Photo Essay
		.cat-card-static
			.cat-icon
			.cat-title Videos
		.cat-card-static
			.cat-icon
			.cat-title Current Staff
		.cat-card-static
			.cat-icon
			.cat-title History
	.choose-wrap
		.title Choose one, folks!
		.option
			div Perspective
			div Static
		.sub
			| Just let me know in the comments
		.bye
			| Thanks
